$green: #13BE13;
$brightGreen: #1eee1e;
$darkBlue: #060F19;
$white: #FFFFFF;
$blue: #182028;
$borderBlue: #2c3946;
// colori icone social
$lightBlue: #02b0e8;
$waterGreen: #00a098;
$clay: #c22e2a;
$redLipstick: #b00a1b;
